<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resource Library</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body class="bg-gray-100">
<div class="container mx-auto mt-10 px-4">
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-xl font-semibold">Resource Library</h1>
        <a href="{{ url_for('upload_page') }}"
           class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700">Upload
            New Resource</a>
    </div>
    <!-- Filter Form -->
    <div class="mb-4">
        <form action="{{ url_for('index') }}" method="get">
            <label for="course" class="block text-sm font-medium text-gray-700">Filter by Subject:</label>
            <select name="course" id="course" onchange="this.form.submit()"
                    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option value="">All Subjects</option>
                {% for course in courses %}
                    <option value="{{ course }}" {% if selected_course == course %}
                            selected {% endif %}>{{ course }}</option>
                {% endfor %}
            </select>
        </form>
    </div>

    <div class="bg-white overflow-hidden shadow-md sm:rounded-lg">
        <ul class="divide-y divide-gray-200">
            {% for resource in resources %}
                <li class="px-6 py-4">
                    <div class="flex justify-between">
                        <div>
                            <div class="text-sm font-medium text-gray-900">{{ resource.filename }}
                                ({{ resource.resource_type }})
                            </div>
                            <div class="text-sm text-gray-500">Uploaded by {{ resource.uploader }}</div>
                            <div class="text-sm text-gray-500">{{ resource.course }} ({{ resource.age }} years ago)
                            </div>
                            <div class="text-sm text-gray-500">{{ 'Solution Available' if resource.has_solution else 'No Solution' }}</div>
                        </div>
                        <div class="flex flex-col items-center justify-center gap-2 sm:flex-row sm:gap-4">
                            <a href="{{ url_for('static', filename='data/' + resource.filename) }}" target="_blank"
                               class="text-blue-600 hover:text-blue-900 p-2 text-base sm:text-lg">View</a>
                            <div class="hidden sm:block">|</div>
                            <a href="{{ url_for('file_details', file_id=resource.id) }}"
                               class="text-blue-600 hover:text-blue-900 p-2 text-base sm:text-lg">Discussion</a>
                        </div>

                    </div>
                    {% if resource.description %}
                        <p class="mt-2 text-sm text-gray-600">{{ resource.description }}</p>
                    {% endif %}
                </li>
            {% else %}
                <li class="px-6 py-4">No resources found.</li>
            {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>
