<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resource Library</title>
    <!-- Include NES.css -->
    <link rel="stylesheet" href="https://unpkg.com/nes.css/css/nes.min.css">
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body style="background-color: #212529;">
<div class="container" style="max-width: 960px; margin: 50px auto; padding: 20px;">
    <section class="message-list">
        <section class="message -left">
            <i class="nes-icon is-large star"></i>
            <div class="nes-balloon from-left">
                <p>Resource Library</p>
            </div>
        </section>
    </section>

    <a href="{{ url_for('upload_page') }}"
       class="nes-btn is-primary">Upload New Resource</a>

    <!-- Filter Form -->
    <div style="margin-top: 20px;">
        <form action="{{ url_for('index') }}" method="get">
            <div class="nes-field">
                <label for="course" class="nes-text is-primary">Filter by Subject:</label>
                <div class="nes-select">
                    <select required id="course" name="course" onchange="this.form.submit()">
                        <option value="" disabled selected>Select...</option>
                        {% for course in courses %}
                            <option value="{{ course }}" {% if selected_course == course %} selected {% endif %}>{{ course }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
    </div>

    <div class="nes-container with-title is-centered" style="margin-top: 20px;">
        <p class="title">Resources</p>
        <ul class="nes-list is-disc">
            {% for resource in resources %}
                <li>
                    <span class="nes-text is-primary">{{ resource.resource_type }} ({{ resource.filename.split('.')[-1] }})</span><br>
                    <span>Uploaded by {{ resource.uploader }}</span><br>
                    <span>{{ resource.course }} ({{ resource.age }} years ago)</span><br>
                    <span>{{ 'Solution Available' if resource.has_solution else 'No Solution' }}</span><br>
                    {% if resource.description %}
                        <p>{{ resource.description }}</p>
                    {% endif %}
                    <a href="{{ url_for('static', filename='data/' + resource.filename) }}" target="_blank" class="nes-btn is-success">Download</a>
                    <a href="{{ url_for('file_details', file_id=resource.id) }}" class="nes-btn is-warning">Discussion</a>
                </li>
            {% else %}
                <li>No resources found.</li>
            {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>
