<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Resource</title>
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
<div class="container mx-auto mt-10">
    <div class="max-w-4xl mx-auto bg-white p-8 rounded-lg shadow">
        <form method="POST" action="{{ url_for('upload_page') }}" enctype="multipart/form-data" class="space-y-4">
            {{ form.hidden_tag() }}
            <h1 class="text-xl font-bold mb-4">Upload File</h1>
            <div>
                <label for="file" class="block text-sm font-medium text-gray-700">File</label>
                {{ form.file(class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md") }}
            </div>
            <div>
                <label for="uploader" class="block text-sm font-medium text-gray-700">Uploader Name</label>
                {{ form.uploader(class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md") }}
            </div>
            <div>
                <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
                {{ form.description(class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md") }}
            </div>
            <div>
                <label for="year" class="block text-sm font-medium text-gray-700">Year</label>
                {{ form.year(class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md") }}
            </div>
            <div>
                <label for="course" class="block text-sm font-medium text-gray-700">Course</label>
                {{ form.course(class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md") }}
            </div>
            <div class="flex items-center">
                <input id="has_solution"
                       onchange="document.getElementById('solution_container').style.display = this.checked ? 'block' : 'none'"
                       type="checkbox" {{ form.has_solution(class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded") }}
                <label for="has_solution" class="ml-2 block text-sm text-gray-900">Has Solution</label>
            </div>
            <div class="flex items-center" id="solution_container" style="display: none">
                <label for="solution" class="block text-sm font-medium text-gray-700">Solution (if the solution is in a seperate file)</label>
                {{ form.solution_filename(class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md") }}
            </div>
            <div class="flex items-center">
                <label for="resource_type" class="block text-sm font-medium text-gray-700">Resource Type</label>
                {{ form.resource_type(class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm") }}
            </div>
            <div>
                <button type="submit"
                        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Upload
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
